form{
    border: 1px solid black;
    text-align: center;
    margin: 1em;
    background-color: hsl(220, 10%, 90%, 50%);
    padding: 1.5em;
    border-radius: 8px;

}

.cat{
    border-radius: 8px;
    width: 5%;
    cursor: pointer;
    margin: 1em;
    padding: 0.5em;
    background-color:  hsl(220, 100%, 60%, 50%);

}

.cat2{
    border-radius: 8px;
    width:5%;
    background-color:  hsl(220, 100%, 20%, 50%);
    margin: 1em;
    padding: 0.5em;
}

.texto{
    margin: 2em;
    width: 30%;
    border-radius: 5px;
    font-size: 18px;
}

.cat:hover{
    background-color:  hsl(220, 100%, 20%, 50%);
}

.cat2:hover{
    background-color:  hsl(220, 100%, 20%, 50%);

}

h1{
    color: white;
    margin-top: 1em;
    text-align: center;
    font-size: 50px;
}

h3{
    text-align: center;
    font-size: 25px;

}

.boton{
    border-radius: 8px;
    background-color:hsl(220, 100%, 10%);
    padding: 0.7em;
    cursor: pointer;
    color: white;
    width: 10%;
}

.boton:hover{
    background-color: hsl(220, 10%, 20%);
}
