<form action="texto"  [formGroup]="datosP" (submit)="enviar()">
    <input type="text" formControlName="texto" required><br>
    <select name="objetivo" id="objetivo" formControlName="objetivo" required>
        <option value="ocio">Ocio</option>
        <option value="deporte">Deporte</option>
        <option value="comida">Comida</option>
        <option value="cultura">Cultura</option>
        <option value="familia">En familia</option>
    </select><br>
    <input type="number" formControlName="edad" required>
    <button>Enviar</button>
</form>